/* fonts */
@font-face {
  font-family: 'Black';
  src: url("../fonts/SevenOneEight-Black.ttf");
}

@font-face {
  font-family: 'Book';
  src: url("../fonts/SevenOneEight-Book.ttf");
}

@font-face {
  font-family: 'ExtraBold';
  src: url("../fonts/SevenOneEight-ExtraBold.ttf");
}

@font-face {
  font-family: 'Light';
  src: url("../fonts/SevenOneEight-Light.ttf");
}

@font-face {
  font-family: 'Medium';
  src: url("../fonts/SevenOneEight-Medium.ttf");
}

h1 {
  font-family: 'Medium';
  font-size: 2.5em;
  font-weight: bold;
}

h2 {
  font-family: 'Book';
  font-size: 2em;
}

.destinations {
  font-family: 'Book';
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-family: 'Light';
}

/* colors */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #efefef;
  padding-bottom: 100px;
  /* header */
  /* grey line */
  /* main */
  /* footer */
}

body header, body main, body footer {
  width: 80%;
}

body header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header h1 {
  color: #e23022;
}

body .inter {
  border: 3px solid #333333;
  width: 10%;
  margin-top: 15px;
}

body main {
  height: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* select ( not really )*/
  /* articles */
}

body main .destinations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  margin: 50px 0;
  position: relative;
}

body main .destinations .selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

body main .destinations .selector p {
  padding-right: 15px;
}

body main .destinations .selector i {
  color: #e23022;
  padding: 15px;
}

body main .destinations .selector i:nth-child(3) {
  border-left: 1px solid rgba(155, 155, 155, 0.507);
  cursor: pointer;
}

body main .destinations .dropDown {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 5;
  background-color: white;
}

body main .destinations .dropDown .city {
  cursor: pointer;
  padding: 10px;
  border-top: 1px solid rgba(155, 155, 155, 0.507);
  border-bottom: 1px solid rgba(155, 155, 155, 0.507);
}

body main .destinations .dropDown .city:hover {
  background-color: #e23022;
  color: white;
}

body main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  margin-bottom: 20px;
  min-height: 300px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  position: relative;
  overflow: hidden;
  /* sliders */
}

body main section article img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 220px;
}

body main section article .slider-container {
  width: 100%;
  height: 220px;
  position: relative;
  /* slider buttons */
}

body main section article .slider-container .prev, body main section article .slider-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

body main section article .slider-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

body main section article .slider-container .prev:hover, body main section article .slider-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

body main section article .promoTxt {
  position: absolute;
  color: white;
  font-family: 'Black';
  top: 200px;
  right: 10px;
  z-index: 2;
}

body main section article .down_article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  font-family: 'Light';
  padding: 12px 0 12px 10px;
  -webkit-box-shadow: 0px -25px 25px 0 rgba(0, 0, 0, 0.603);
          box-shadow: 0px -25px 25px 0 rgba(0, 0, 0, 0.603);
  z-index: 1;
}

body main section article .down_article .down_article_left div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main section article .down_article .down_article_left div p {
  color: white;
  padding: 3px;
}

body main section article .down_article .down_article_left div p:nth-child(1) {
  background-color: black;
}

body main section article .down_article .down_article_left div p:nth-child(2) {
  background-color: #bd9d6b;
}

body main section article .down_article .down_article_left span {
  font-family: 'ExtraBold';
}

body main section article .down_article .down_article_left .middleP {
  padding: .3em 0 .6em 0;
}

body main section article .down_article .down_article_right {
  background-color: #e23022;
  height: 40px;
  width: 40px;
  position: relative;
  right: 15px;
  margin: auto 0;
  color: white;
  border: none;
  cursor: pointer;
}

body main section article .down_article .down_article_right i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body main section article .down_article .down_article_right:hover > i {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

body footer {
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  height: 100px;
  position: fixed;
  bottom: 0;
  z-index: 10;
  /* red line */
}

body footer h4 span {
  font-weight: bold;
  /* ou font-family */
}

body footer .inter2 {
  border: 2px solid #e23022;
  width: 20%;
}

/* Reveal */
.reveal {
  -webkit-transform: translateY(7vh);
          transform: translateY(7vh);
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 1s cubic-bezier(0, 0, 0, 1);
  transition: opacity 1s, -webkit-transform 1s cubic-bezier(0, 0, 0, 1);
  transition: transform 1s cubic-bezier(0, 0, 0, 1), opacity 1s;
  transition: transform 1s cubic-bezier(0, 0, 0, 1), opacity 1s, -webkit-transform 1s cubic-bezier(0, 0, 0, 1);
  will-change: transform, opacity;
}

.reveal.revealed {
  -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
  opacity: 1;
}

@media (max-width: 1199.98px) {
  body main section article {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

@media (max-width: 991.98px) {
  body header, body main, body footer {
    width: 85%;
  }
  body h1 {
    font-size: 2.2em;
  }
  body h2 {
    font-size: 1.7em;
  }
  body .destinations {
    font-size: 1.2em;
  }
  body h3 {
    font-size: 1em;
  }
}

@media (max-width: 767.98px) {
  body header, body main, body footer {
    width: 90%;
  }
  body h1 {
    font-size: 1.7em;
  }
  body h2 {
    font-size: 1.4em;
  }
  body p {
    font-size: .8em;
  }
  body .destinations p {
    font-size: 1em;
  }
  body h3 {
    font-size: .8em;
  }
  body main .destinations {
    margin: 30px 0;
  }
  body main section article .down_article .down_article_right {
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 575.98px) {
  body header, body main, body footer {
    width: 95%;
  }
  body h1 {
    font-size: 1.5em;
  }
  body h2 {
    font-size: 1.2em;
  }
  body p {
    font-size: .7em;
  }
  body .destinations p {
    font-size: .8em;
  }
  body h3 {
    font-size: .8em;
  }
  body header {
    height: 75px;
    text-align: center;
  }
  body .inter {
    width: 20%;
  }
  body main .destinations i {
    padding: 10px;
  }
  body main section article {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */