/* fonts */
@font-face {
    font-family: 'Black';
    src: url('../fonts/SevenOneEight-Black.ttf');
}
@font-face {
    font-family: 'Book';
    src: url('../fonts/SevenOneEight-Book.ttf');
}
@font-face {
    font-family: 'ExtraBold';
    src: url('../fonts/SevenOneEight-ExtraBold.ttf');
}
@font-face {
    font-family: 'Light';
    src: url('../fonts/SevenOneEight-Light.ttf');
}
@font-face {
    font-family: 'Medium';
    src: url('../fonts/SevenOneEight-Medium.ttf');
}

h1{
    font-family: 'Medium';
    font-size: 2.5em;
    font-weight: bold;
}
h2{
    font-family: 'Book';
    font-size: 2em;
}
.destinations{
    font-family: 'Book';
    font-size: 1.5em;
}
h3{
    font-size: 1.2em;
}
h4{
    font-family: 'Light';
}

/* colors */
$custom-red: #e23022;
$custom-gold: #bd9d6b;
$custom-grey: #333333;


body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #efefef;
    padding-bottom: 100px;

    header, main, footer{
        width: 80%;
    }

    /* header */
    header{
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        h1{
            color: $custom-red;
        }
    }

    /* grey line */
    .inter{
        border: 3px solid $custom-grey;
        width: 10%;
        margin-top: 15px;
    }

    /* main */
    main{
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        /* select ( not really )*/ 
        .destinations{
            display: flex;
            flex-direction: column;
            background-color: white;
            margin: 50px 0;
            position: relative;

            .selector{
                display: flex;
                align-items: center;
                cursor: pointer;

                p{
                    padding-right: 15px;
                }

                i{
                    color: $custom-red;
                    padding: 15px;
                }

                i:nth-child(3){
                    border-left: 1px solid rgba(155, 155, 155, 0.507);
                    cursor: pointer;
                }
            }

            .dropDown{
                display: none;
                // display: flex;
                flex-direction: column;
                position: absolute;
                top: 100%;
                width: 100%;
                z-index: 5;
                background-color: white;

                .city{
                    cursor: pointer;
                    padding: 10px;
                    border-top: 1px solid rgba(155, 155, 155, 0.507);
                    border-bottom: 1px solid rgba(155, 155, 155, 0.507);
                }
                .city:hover{
                    background-color: $custom-red;
                    color: white;
                }
            }
        }

        /* articles */
        section{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            article{
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                margin-bottom: 20px;
                min-height: 300px;
                flex-basis: 30%;
                position: relative;
                overflow: hidden;
                
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 220px;
                }

                /* sliders */
                .slider-container{
                    width: 100%;
                    height: 220px;
                    position: relative;

                    /* slider buttons */
                    .prev, .next {
                        cursor: pointer;
                        position: absolute;
                        top: 50%;
                        width: auto;
                        margin-top: -22px;
                        padding: 16px;
                        color: white;
                        font-weight: bold;
                        font-size: 18px;
                        transition: 0.6s ease;
                        border-radius: 0 3px 3px 0;
                    }

                    .next {
                        right: 0;
                        border-radius: 3px 0 0 3px;
                    }
                    .prev:hover, .next:hover {
                        background-color: rgba(0, 0, 0, 0.8);
                    }
                }

                .promoTxt{
                    position: absolute;
                    color: white;
                    font-family: 'Black';
                    top: 200px;
                    right: 10px;
                    z-index: 2;
                }

                .down_article{
                    display: flex;
                    justify-content: space-between;
                    background-color: white;
                    font-family: 'Light';
                    padding: 12px 0 12px 10px;
                    box-shadow: 0px -25px 25px 0 rgba(0, 0, 0, 0.603);
                    z-index: 1;

                    .down_article_left{
                        
                        div{
                            display: flex;

                            p{
                                color: white;
                                padding: 3px;
                            }

                            p:nth-child(1){
                                background-color: black;
                            }
                            p:nth-child(2){
                                background-color: $custom-gold;
                            }
                        }

                        span{
                            font-family: 'ExtraBold';
                        }
                        
                        .middleP{
                            padding: .3em 0 .6em 0;
                    }
                    }

                    .down_article_right{
                        background-color: $custom-red;
                        height: 40px;
                        width: 40px;
                        position: relative;
                        right: 15px;
                        margin: auto 0;
                        color: white;
                        border: none;
                        cursor: pointer;

                        i{
                            transition: 0.5s;
                        }
                    }

                    .down_article_right:hover > i{
                        transform: scale(1.5);
                    }
                }
            }
        }
    }
    
    /* footer */
    footer{
        background-color: $custom-grey;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        color: white;
        height: 100px;
        position: fixed;
        bottom: 0;
        z-index: 10;

        h4{

            span{
                font-weight: bold; /* ou font-family */
            }
        }
        
        /* red line */
        .inter2{
            border: 2px solid $custom-red;
            width: 20%;
        }
    }
}

/* Reveal */

.reveal{
    transform: translateY(7vh);
    opacity: 0;
    transition: transform 1s cubic-bezier(0, 0, 0, 1), opacity 1s;
    will-change: transform, opacity;
}

.reveal.revealed{
    transform: translateY(0vh);
    opacity: 1;
}

@media (max-width: 1199.98px) {
    body{

        main{

            section{

                article{
                    flex-basis: 45%;
                }
            }
        }
    }
}

@media (max-width: 991.98px) {
    body{
        
        header, main, footer{
            width: 85%;
        }
        
        h1{
            font-size: 2.2em;
        }
        h2{
            font-size: 1.7em;
        }
        .destinations{
            font-size: 1.2em;
        }
        h3{
            font-size: 1em;
        }
    }    
}

@media (max-width: 767.98px) {
    body{

        header, main, footer{
            width: 90%;
        }
        h1{
            font-size: 1.7em;
        }
        h2{
            font-size: 1.4em;
        }
        p{
            font-size: .8em;
        }
        .destinations p{
            font-size: 1em;
        }
        h3{
            font-size: .8em;
        }

        main{
            
            .destinations{
                margin: 30px 0;
            }

            section{

                article{

                    .down_article{

                        .down_article_right{
                            height: 30px;
                            width: 30px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    body{

        header, main, footer{
            width: 95%;
        }
        h1{
            font-size: 1.5em;
        }
        h2{
            font-size: 1.2em;
        }
        p{
            font-size: .7em;
        }
        .destinations p{
            font-size: .8em;
        }
        h3{
            font-size: .8em;
        }

        header{
            height: 75px;
            text-align: center;
        }

        .inter{
            width: 20%;
        }

        main{
            
            .destinations{

                i{
                    padding: 10px;
                }
            }
            
            section{
                
                article{
                    flex-basis: 100%;
                }
            }
        }
        
    }
}